body {
	background-color:#57c6ba;
	text-align:center;
	font-family:century gothic;
	font-size:14px;
}
#logo {
	padding-bottom:5px;
	max-height:50px;
	float:center;
}
a	{
	text-decoration: none;
	padding:15px;
	float:center;
}
.movie table {
	border: 2px solid white;
	background:#6CFF6F;
	width:70%;
	margin-top:15px;
	padding-top:10px;
	float:center;
}
.movie th {
	height:10px;
}
.movie tr{
	padding:0px;
}
.movie td {
	border:1px solid white;
	background:white;
	padding:0px;
	word-wrap:break-word;
}
.nav{
	font-size:16px;
	color:white;
	border:1px solid green;
	background-color:white;
	text-shadow:0px 1px 1px black;
	margin-top:10px;
}

a:hover:not(.active) {
    background-color: orange;
	padding:17px;
}

.active {
	color:orange;
}