body {
	background-color:#57c6ba;
	text-align:center;
	font-family:century gothic;
	font-size:14px;

}
#logo {
	padding-bottom:5px;
	max-height:50px;
	float:center;
}
a	{
	text-decoration: none;
	padding:15px;
	float:center;
}
.nav	{
	font-size:16px;
	 margin-top:10px;
	color:white;
	border:1px solid green;
	background-color:white;
	text-shadow:0px 1px 1px black;
}

a:hover:not(.active) {
    background-color: orange;
	padding:17px;
}
.maindiv {
margin:40px auto;
width:600px;
height:350px;
border:2px solid green;
padding-bottom:50px;
font-family:century gothic;
font-size:12px;
}
.title {
width:550px;
height:50px;
font-size:16px;
text-align:center;
text-shadow:0px 1px 1px black
}
.form_div {
width:100%;
float:right;
}
form {
width:600px;
height:400px;
border:1px;
background-color:white;
margin-right:align;
}
form p {
text-shadow:0px 0px 1px red;
padding-left:5px;
text-align:left;
}
input {
width:200px;
margin-left:align;
margin-right:align;
padding-left:10px;
}
.submit {
background:orange;
width:50%;
height:30px;
box-shadow:0 0 0px 1px navy;
border-radius:4px;
font-size:18px;
}
label {
	padding-right: 30px;
}
h1{
	color:Navy;
}
h2{
	color:red;
}
span{
	color:red;
}

