body {
	background-color:#57c6ba;
	text-align:center;
	font-family:century gothic;
	font-size:14px;
}
#logo {
	padding-bottom:5px;
	max-height:50px;
	float:center;
}
a	{
	text-decoration: none;
	padding:15px;
	float:center;
}
.actor table {
	border: 2px solid black;
	background:orange;
	width:70%;
	margin-top:15px;
}
.actor th,td {
	font-size:12px;
	padding:5px 5px;
}
.actor td {
	border:1px solid white;
	border-right:none;
	background:white;
}
.actor title {
	font-size:16px;
}
.nav{
	font-size:16px;
	color:white;
	border:1px solid green;
	background-color:white;
	text-shadow:0px 1px 1px black;
}

a:hover:not(.active) {
    background-color: orange;
	padding:17px;
}

.active {
	color:orange;
}