body {
	background-color:#57c6ba;
	text-align:center;
	font-family:century gothic;
	font-size:14px;

}
#logo {
	padding-bottom:5px;
	max-height:50px;
	float:center;
}
a	{
	text-decoration: none;
	padding:15px;
	float:center;
}
.nav	{
	font-size:16px;
	color:white;
	border:1px solid green;
	background-color:white;
	text-shadow:0px 1px 1px black;
}

a:hover:not(.active) {
    background-color: orange;
	padding:17px;
}
.title {
	font-size:18px;
}
.select {
	font-family:century gothic;
}
select {
	width:200px;
	height:30px;
	border-radius:6px;
}
input {
	height:30px;
	width:80px;
	border-radius:5px;
	background:orange;
}
