body {
	background-color:#57c6ba;
	text-align:center;
	font-family:century gothic;
	font-size:14px;
}
#logo {
	padding-bottom:5px;
	max-height:50px;
	float:center;
}
a	{
	text-decoration: none;
	padding:15px;
	float:center;
}
.contact {
	border:2px solid orange;
	width:600px;
	background-color:white;
}

.nav{
	font-size:16px;
	color:white;
	border:1px solid green;
	background-color:white;
	text-shadow:0px 1px 1px black;
}
a:hover:not(.active) {
    background-color: orange;
	padding:17px;
}

.active {
	color:orange;
}
.header {
	font-size: 30px;
	text-align:center;
	color:white;
}
.home{
	padding-left:30%;
	padding-right:30%;
	text-align:left;
}
.source {
	padding-left:30%;
	padding-right:30%;
}
