body {
	background-color:#57c6ba;
	text-align:center;
	font-family:century gothic;
	font-size:14px;
}
#logo {
	padding-bottom:5px;
	max-height:50px;
	float:center;
}
a	{
	text-decoration: none;
	padding:15px;
	float:center;
}
.nav{
	font-size:16px;
	color:white;
	border:1px solid green;
	background-color:white;
	text-shadow:0px 1px 1px black;
	margin-top:10px;
}

a:hover:not(.active) {
    background-color: orange;
	padding:17px;
}

.active {
	color:orange;
}